@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
.banner {
  position: relative;
  height: 80vh;
  margin-top: 40px;
  background-image: url("https://images.unsplash.com/photo-1531219432768-9f540ce91ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
}

.banner__info {
  position: absolute;
  top: 20%;
  display: flex;
  width: 300px;
  height: 80%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 30px; */
}

.banner__info > h1 {
  margin-left: 20px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.banner__info > p {
  margin-left: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.banner__info > button {
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: white;
  color: rgb(155, 155, 155);
}

.banner__info > button:hover {
  background-color: #ff7779;
  color: white;
}
